<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PROYECTO FINAL</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <div class="nav-item px-3 mt-2">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-cpu-fill me-2" aria-hidden="true"></span> SOBRE BLAZOR
            </NavLink>
        </div>

        <hr class="text-white opacity-25 mx-3" />

        <div class="ps-4 py-2 text-white-50 small fw-bold text-uppercase">
            Proyectos Rubén
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="proyectos-ruben">
                <span class="bi bi-code-slash me-2" aria-hidden="true"></span> Mis Desarrollos
            </NavLink>
        </div>

        <hr class="text-white opacity-25 mx-3" />

        <div class="ps-4 py-2 text-white-50 small fw-bold text-uppercase">
            Proyectos Javier
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="proyectos-javier">
                <span class="bi bi-terminal-fill me-2" aria-hidden="true"></span> Mis Desarrollos
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}